.background {
	fill: none;
	pointer-events: all;
}

#cities path{
	fill: #bdd7e7;
	stroke: #fff;
	stroke-width: 0.01em;
	stroke-linejoin: round;
	/*stroke-linecap: round;*/
	stroke-dasharray: 1,1;
	display: none;
}

#cities .active{
	fill: #6baed6;
	display: none;
}

#cities .connected {
	fill: #6baed6;
}

#cities path:hover {
	fill: #6baed6;
	display: none;
}

#regions {
	fill: none;
	display: none;
	pointer-events: none;
}

text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

#state-text text {
	font-size: 0.6em;
	opacity: 0.2;
	pointer-events: none;
}

#city-text text {
	font-size: 0.1em;
	opacity: 0.8;
	display: none;
	pointer-events: none;
	fill: #2171b5;
}

#states {
	fill: #bdd7e7;
	pointer-events: none;
}

#state-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.show {
	display:inline !important;
}

.airport {
  fill: none;
}

.airport circle {
  fill: white;
  /*stroke: #fff;*/
  pointer-events: none;
}

.airport path{
  display: inline;
  stroke: #2171b5;
  pointer-events: none;
}

.showLine {
	display: inline;
}