.background {
	fill: none;
	pointer-events: all;
}

#states {
	fill: #aaa;
}

#states .active {
	fill: orange;
}

#regions {
	fill: none;
}

text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	pointer-events: none;
	opacity: 0.25;
}

#region-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.airport-arcs {
  display: none;
  fill: none;
  stroke: #000;
}

.airport-cell {
  fill: none;
  pointer-events: all;
}

.airports circle {
  fill: steelblue;
  stroke: #fff;
  pointer-events: none;
}

.airport:hover .airport-arcs {
  display: inline;
}

svg:not(:hover) .airport-cell {
  stroke: #000;
  stroke-opacity: .2;
}